<section id="container">
  <div id="header">
    <input [(ngModel)]="userInput" type="text" class="form-control" placeholder="Task Name" />
    <select [(ngModel)]="selectValue" name="hardness" id="hardness-lvl" class="form-select">
      <option value="" selected>Select</option>
      <option value="{{difficulty.Easy}}">{{difficulty.Easy}}</option>
      <option value="{{difficulty.Medium}}">{{difficulty.Medium}}</option>
      <option value="{{difficulty.Hard}}">{{difficulty.Hard}}</option>
    </select>
    <button (click)="add()" class="btn btn-primary">Add</button>
  </div>
  <div id="content">
    <div *ngFor="let variant of threeVariants" class="card">
      <div class="card__header">
        <p>
          <fa-icon [icon]="faBars"></fa-icon>{{variant.title}}
        </p>
      </div>
      <app-card [variant]="variant" [toDoObj]="toDoArr" [progressObj]="toProgressArr" [doneObj]="toDoneArr"
        (toDoArrToParent)="toProgress($event)" (progressArrToParentForToDo)="toToDo($event)"
        (progressArrToParentForDone)="toDone($event)" (DoneArrToParent)="toProgress($event)"></app-card>

    </div>
  </div>
</section>