<section id="container">
  <div id="header">
    <input [(ngModel)]="userInput" type="text" class="form-control" placeholder="Task Name" />
    <select [(ngModel)]="selectValue" name="hardness" id="hardness-lvl" class="form-select">
      <option value="" selected>Select</option>
      <option value="{{difficulty.Easy}}">{{difficulty.Easy}}</option>
      <option value="{{difficulty.Medium}}">{{difficulty.Medium}}</option>
      <option value="{{difficulty.Hard}}">{{difficulty.Hard}}</option>
    </select>
    <button (click)="add()" class="btn btn-primary">Add</button>
  </div>
  <div id="content">
    <div *ngFor="let variant of threeVariants" class="card">
      <div class="card__header">
        <p>
          <fa-icon [icon]="faBars"></fa-icon>{{variant.title}}
        </p>
      </div>
      <app-todo *ngIf="variant.toDoWin" [toDoObj]="toDoArr" (toDoArrToParent)="toProgress($event)"></app-todo>
      <app-progress *ngIf="variant.progressWin" [progressObj]="toProgressArr"
        (progressArrToParentForToDo)="toToDo($event)" (progressArrToParentForDone)="toDone($event)">
      </app-progress>
      <app-done *ngIf="variant.doneWin" [doneObj]="toDoneArr" (DoneArrToParent)="toProgress($event)"></app-done>

    </div>
  </div>
</section>